
/****** Nombre: Nairoby Suero Matricula:17-EIIT-1-119 Seccion:0541 ******/

USE [master]
GO
/****** Object:  Database [NairobyAutoparts]    Script Date: 17/08/2018 23:51:42 ******/
CREATE DATABASE [NairobyAutoparts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NairobyAutoparts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NairobyAutoparts.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NairobyAutoparts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NairobyAutoparts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NairobyAutoparts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NairobyAutoparts]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 17/08/2018 23:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID cliente] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefobno] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURACION]    Script Date: 17/08/2018 23:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURACION](
	[IDSUPLIDORE] [int] NULL,
	[IDCLIENTE] [int] NULL,
	[FECHACOMPRA] [varchar](50) NULL,
	[FECHAPAGO] [varchar](50) NULL,
	[MONTO PAGADO] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 17/08/2018 23:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[IDITEN] [int] NULL,
	[ARTICULO] [varchar](50) NULL,
	[CANTIDADCOMPRADA] [int] NULL,
	[CANTIDADVENDIDA] [int] NULL,
	[STOCK] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cliente] ([ID cliente], [Nombre], [Direccion], [Telefobno]) VALUES (1, N'Nairoby Suero', N'Av. Sabana Larga', N'809-000-1111')
INSERT [dbo].[Cliente] ([ID cliente], [Nombre], [Direccion], [Telefobno]) VALUES (2, N'Ariel Cuevas ', N'Av.Santiago Matias', N'809-444-6588')
INSERT [dbo].[Cliente] ([ID cliente], [Nombre], [Direccion], [Telefobno]) VALUES (3, N'Luis Lorenzo', N'C/Hijo de mirian', N'809-332-8856')
INSERT [dbo].[FACTURACION] ([IDSUPLIDORE], [IDCLIENTE], [FECHACOMPRA], [FECHAPAGO], [MONTO PAGADO]) VALUES (1, 1, N'03/03/2018', N'06/06/2018', N'3,000')
INSERT [dbo].[FACTURACION] ([IDSUPLIDORE], [IDCLIENTE], [FECHACOMPRA], [FECHAPAGO], [MONTO PAGADO]) VALUES (2, 2, N'04/04/2017', N'06/05/2018', N'70,000')
INSERT [dbo].[FACTURACION] ([IDSUPLIDORE], [IDCLIENTE], [FECHACOMPRA], [FECHAPAGO], [MONTO PAGADO]) VALUES (3, 3, N'01/01/2001', N'02/02/2002', N'50,000')
INSERT [dbo].[INVENTARIO] ([IDITEN], [ARTICULO], [CANTIDADCOMPRADA], [CANTIDADVENDIDA], [STOCK]) VALUES (1, N'Tornillos', 2000, 1000, 1000)
INSERT [dbo].[INVENTARIO] ([IDITEN], [ARTICULO], [CANTIDADCOMPRADA], [CANTIDADVENDIDA], [STOCK]) VALUES (2, N'Aceite', 500, 300, 200)
INSERT [dbo].[INVENTARIO] ([IDITEN], [ARTICULO], [CANTIDADCOMPRADA], [CANTIDADVENDIDA], [STOCK]) VALUES (3, N'Bombillos Led', 1500, 1200, 300)
USE [master]
GO
